@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bcbfc7 #2962977c;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar vertikal */
  height: 6px; /* Tinggi scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #eee;
}

html {
  /* Selalu tampilkan scrollbar */
  overflow-y: scroll;
  /* Gunakan scroll-gutter untuk menghindari perubahan layout */
  scrollbar-gutter: stable;
}

/* Mode gelap */
.dark .ck-editor__editable {
  background-color: #ffffff; /* Warna latar belakang untuk mode gelap */
  color: #000000; /* Warna teks untuk mode gelap */
}

.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}

.ck-content a {
  text-decoration: underline;
  color: blue;
}

/* Block Kedua */

.ck-content-output > blockquote,
.ck-content-output > dl,
.ck-content-output > dd,
.ck-content-output > h1,
.ck-content-output > h2,
.ck-content-output > h3,
.ck-content-output > h4,
.ck-content-output > h5,
.ck-content-output > h6,
.ck-content-output > hr,
.ck-content-output > figure,
.ck-content-output > p,
.ck-content-output > pre {
  margin: revert;
}

.ck-content-output > ol,
.ck-content-output > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content-output > table {
  border-collapse: revert;
}

.ck-content-output > h1,
.ck-content-output > h2,
.ck-content-output > h3,
.ck-content-output > h4,
.ck-content-output > h5,
.ck-content-output > h6 {
  font-size: revert;
  font-weight: revert;
}

.ck-content-output blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.ck-content-output {
  color: #ffffff;
}

.ck-content-output a {
  text-decoration: underline;
  color: rgb(30, 162, 196);
}
